@import 'template.css';

.github-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
  color: white;
  margin-right: 1.25rem;
}

.github-icon:hover {
  opacity: .8;
}

.datatable-header-row {
  min-height: 2.5rem;
}

.fixed-header .datatable-header-row {
  white-space: nowrap;
}

.fixed-header .datatable-header-cell,
.fixed-header .dt-sort-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-big-value {
  background-color: lightsalmon;
}

.cell-zero-value {
  background-color: lightgreen;
}

.cell-middle-value {
  background-color: lightBlue;
}

.cell-right {
  justify-content: flex-end;
}

.cell-right input {
  text-align: right;
}

.datatable-body-row.row-warrior,
.datatable-body-row.row-warrior .dt-sticky {
  background-color: lightyellow;
}

.datatable-body-row.row-sorcerer,
.datatable-body-row.row-sorcerer .dt-sticky {
  background-color: LightSlateGray;
  color: white;
}

.datatable-header-cell.header-cell-demo {
  justify-content: center;
  background-color: lightseagreen;
}

.tooltip {
  visibility: hidden;
  width: 13.75rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: .375rem;
  padding: .3125rem 0;
  position: absolute;
  z-index: 1500;
}

.dt-message {
  display: inline-block;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.dt-message-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.dt-pointer {
  cursor: pointer;
}

.display-none {
  display: none !important;
}

/* PanelDemo */
.panel-demo1 .ui-modal-header { background-color: red !important; }
.panel-demo2 .ui-modal-header { background-color: #4CAF50 !important; }
.panel-demo3 .ui-modal-header { background-color: #ff9800 !important; }

/* NestedModalDemo */
.nested-modal-demo1 .ui-modal { width: 37.5rem; }
.nested-modal-demo2 .ui-modal { width: 34.375rem; }
.nested-modal-demo3 .ui-modal { width: 31.25rem; }

/* NestedModalsDemo */
.nested-modals-demo > .ui-modal { width: 68.75rem; }

/* ModalDataTableDemo */
.rank-modal .ui-modal { width: 56.25rem; }
.inventory-modal .ui-modal { width: 56.25rem; }

/* MultiSelectDemo */
.multi-select-demo {width: 58rem;}
.multi-select-demo .datatable-body-cell {padding: 0; margin: 0;}
.multi-select-demo .datatable-body-cell > .cell-data,
.multi-select-demo .datatable-body-cell .view-data {padding: .25rem .1875rem;}
.multi-select-demo .datatable-body-cell .multi-select-cell {width: 100%;}
.multi-select-demo .datatable-body-cell .multi-select-cell .dt-select-input {cursor: pointer;}
.multi-select-demo-block {position: relative;}
.multi-select-demo-block .dt-dropdown-select-list {width: 15.625rem;}

/* VerticalGroupDemoComponent */
.vertical-group-demo {display: flex;}
.vertical-group-demo .tab2 {overflow-x: auto;}
.vertical-group-demo .vertical .cell-data {transform: rotate(-90deg); overflow: visible;}
.vertical-group-demo .vertical .datatable-header-cell,
.vertical-group-demo .vertical .datatable-body-cell {
  width: 3.25rem;
  border-right: none;
  border-left: 1px solid #c6c6c6;
  justify-content: center;
}
.vertical-group-demo .vertical .datatable-body {overflow-y: hidden; overflow-x: scroll}
.vertical-group-demo .vertical .datatable-header-cell {min-height: 2.5rem;}
.vertical-group-demo .vertical {flex-shrink: 0; height: 26.5rem;}
.vertical-group-demo .tab2 .datatable {height: 26.5rem;}

/* DynamicFormDemo */
.dynamic-form-demo {display: block; width: 25rem;}

/* DualListBoxDemo */
.dual-list-box-demo {min-width: 25rem; max-width: 37.5rem}

/* ScrollerDemo */
.scroller-demo {width: 12.5rem; height: 31.25rem;}
.scroller-demo-content {width: 100%;}
.scroller-demo-content > div {height: 2.5rem; display: flex; align-items: center; border-bottom: 1px solid #eee;}
.scroller-demo > .header {
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: #009ccc;
  color: white;
  font-weight: bold;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* SelectListDemo */
.select-list-demo {display: flex;}
.select-list-demo .sl-column {margin-right: 1.875rem; width: 15.625rem; padding: .625rem; border: 1px solid #eee; border-radius: .0625rem;}

/* DraggableDirectiveDemo */
.draggable-directive-demo .dd-box {position: absolute; width: 12.5rem; height: 12.5rem;}
.draggable-directive-demo .box1 {background-color: #009ccc;}
.draggable-directive-demo .box2 {background-color: #f2cb1d; left: 31.25rem;}

/* ResizableDirectiveDemo */
.resizable-directive-demo .dd-box {position: absolute; width: 12.5rem; height: 12.5rem;}
.resizable-directive-demo .box1 {
  background-color: #009ccc;
  min-width: 12.5rem;
  min-height: 12.5rem;
  max-width: 31.25rem;
  max-height: 31.25rem;
}

/* PaginationDemo */
.pagination-demo {width: 30rem;}

/* ModalSelectDemo */
.modal-select-demo {display: block; width: 18.75rem;}

/* InlineEditDemo */
.inline-edit-demo {display: flex; height: 2.5rem;}
.inline-edit-demo-cell.dt-inline-editor {width: 12.5rem; line-height: 2.5rem; border: 1px solid #eee;}

/* DropdownSelectDemo */
.dropdown-select-demo {display: flex;}
.dropdown-select-demo .sl-column {margin-right: 1.875rem; width: 15.625rem;}

/* DragDropDemo */
.drag-drop-demo { display: flex; }
.drag-drop-demo .dd-column { width: 20%; min-height: 31.25rem; }
.drag-drop-demo .dd-column + .dd-column { margin-left: .625rem; }
.drag-drop-demo .dd-column:nth-child(1) { background: rgb(255, 255, 219); }
.drag-drop-demo .dd-column:nth-child(2) { background: rgb(236, 236, 191); }
.drag-drop-demo .dd-column:nth-child(3) { background: rgb(253, 214, 162); }
.drag-drop-demo .dd-column:nth-child(4) { background: rgb(162, 226, 253); }
.drag-drop-demo .dd-column:nth-child(5) { background: rgb(162, 253, 200); }
.drag-drop-demo .dd-issue {
  background: rgba(0, 0, 0, .1);
  border-radius: .25rem;
  margin-bottom: .25rem;
  cursor: move;
  position: relative;
  color: #000;
  overflow: hidden;
}
.drag-drop-demo .dd-issue:hover { background: rgba(0, 0, 0, .15); }
.drag-drop-demo .dd-title { background: rgba(0, 0, 0, .1); padding: .125rem .25rem; }
.drag-drop-demo .dd-text { padding: .1875rem .25rem .0625rem; line-height: 1.2; }

/* DropdownDirectiveDemo */
.dropdown-directive-demo .navbar,
.dropdown-directive-demo .navbar-expand,
.dropdown-directive-demo .dropdown-menu
{ background-color: #2578cf; }

/* NavMenuDemo */
.nav-menu-demo1 { width: 13.75rem; }
.nav-menu-demo2 { width: 13.75rem; height: 18rem; }
.nav-menu-demo2.nav-collapsed { width: 65px; }
.nav-menu-demo2.nav-expanded { opacity: 0.95; }
.nav-menu-demo1 .vertical-menu-item, .nav-menu-demo2 .vertical-menu-item  { display: flex; }
.nav-menu-demo1 .nav-menu-icon, .nav-menu-demo2 .nav-menu-icon { padding-right: 1.4rem; }

/* RowViewDemo */
.row-view-demo { display: block; width: 30rem; }

/* TreeViewDemo */
.tree-view-demo { display: block; width: 280px; height: 500px; border-right: 1px solid #eee; }

/* StatesLineDemo */
.states-line-demo1 { height: 5rem; width: 30rem; }
.states-line-demo2 { height: 2rem; width: 30rem; }
.states-line-demo2 .state-line { height: 30% }
.states-line-demo2 .state-line-col { height: 100%; border-radius: 0; }

/* StatesLineIntervalDemo */
.states-line-interval-demo { height: 7rem; width: 60rem; }

/* SimpleBarChartDemo */
.simple-bar-chart-demo { height: 15rem; width: 30rem; }

/* FileUploadDemo */
.file-upload-demo { width: 16rem; height: 16rem; }

/* DataTableDemo */
.data-table-demo .datatable { height: 19rem; }

/* DtTemplateDemo */
.dt-template-demo-img { width: 2.4rem; }

/* DtColumnGroupDemo */
.dt-column-group-demo .datatable-header-cell {justify-content: center;}

/* DragToScrollDemo */
.drag-to-scroll-demo {
  width: 30rem;
  height: 30rem;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: repeat(4, 10rem);
  grid-gap: 2rem;
}
.drag-to-scroll-demo div {
  display: flex;
  background-color: LightSlateGray;
  align-items: center;
  justify-content: center;
}

/* SimpleLineChartDemo */
.simple-line-chart-demo {
  display: block;
  width: 30rem;
  height: 15rem;
  color: darksalmon;
}
