.dt-virtual-scroll {
  display: block;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  contain: strict;
  transform: translateZ(0);
  will-change: scroll-position;
}
.dt-scrollable-content {
  contain: content;
}
.dt-total-padding {
  position: absolute;
  top: 0;
  left: 0;
  width: .125rem;
  transform-origin: 0 0;
}
