.chart-slider-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 .5rem; /* resize-handle */
}

.chart-slider-wrapper:focus {
  outline: 0;
}

.chart-slider {
  width: 100%;
  height: 100%;
}

.chart-slider__line {
  display: flex;
  width: 100%;
  height: 80%;
  position: relative;
  background: #EDF5FA;
}

.chart-slider__line__col {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.chart-slider__line__col__item {
  width: 100%;
  height: 100%;
}

.chart-slider__handle {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #D9E9F5;
  border: 1px solid #2FB4E9;
  opacity: 0.4;
  cursor: move;
}

.chart-slider__axis {
  display: flex;
  position: relative;
  user-select: none;
}

.chart-slider__axis__item {
  position: absolute;
  left: 0;
  top: 0;
  font-size: .8em;
}

.chart-slider__axis__item.last {
  transform: translate(-100%, 0);
}

.chart-slider__handle__body {
  width: 100%;
  height: 100%;
}

.dragging,
.resizing {
  user-select: none;
}

.chart-slider__handle .resize-e {
  position: absolute;
  cursor: e-resize;
  height: 100%;
  width: .8rem;
  right: -.4rem;
  top: 0;
}

.chart-slider__handle .resize-w {
  position: absolute;
  cursor: w-resize;
  height: 100%;
  width: .8rem;
  left: -.4rem;
  top: 0;
}

.resize-handle {
  height: 2.4rem;
  width: 1rem;
  position: absolute;
  left: -0.1rem;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #2FB4E9;
  background: linear-gradient(to bottom, #EDF5FA 20%, transparent 20%), linear-gradient(to top, #EDF5FA 20%, transparent 20%), linear-gradient(to right, #EDF5FA 20%, #2FB4E9 20% 40%, #EDF5FA 40% 60%, #2FB4E9 60% 80%, #EDF5FA 80%);
}
