.dt-toolbar {
  display: flex;
  padding: .5rem 0;
}

.dt-toolbar-col {
  position: relative;
}

.dt-toolbar-col+.dt-toolbar-col {
  margin-left: .3125rem;
}

.dt-global-filter {
  width: 18.75rem;
}

.dt-toolbar-col .dt-context-menu {
  width: 10.625rem;
  display: none;
}

.dt-toolbar-col.open .dt-context-menu {
  display: block;
}

.dt-toolbar-col .dt-list-menu-item.disabled, .dt-toolbar-col .dt-list-menu-item.disabled:hover {
  color: silver;
  background-color: transparent;
  border: 0;
  box-shadow: 0 0 0;
  cursor: default;
}
